<%= render "shared/header" %>
<main>
<div class="contents row">
  <div class="container">
    <h1>派遣契約新規登録</h1>
    <%= form_with model: @contract, url: temporary_contract_path(@temporary.id,@contract.id), method: :patch ,local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
    <div class = "field">
      <label class="form-text">取引先</label>
      <span class="indispensable">必須</span>
    </div>
      <%= f.collection_select(:company_id, Company.all.order(:name), :id, :name, {selected: @contract.company_id}, {class:"select-box", id:"search-company"}) %>
    <div class = "field">
      <label class="form-text">業務内容</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :task_name, class:"text_box", id:"search-name", placeholder:"業務内容",value: @contract.task_name%>
    <div class = "field">
      <label class="form-text">契約単価</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :price, class:"text_box", id:"search-name", placeholder:"契約単価", value: @contract.price%>
    <div class='field'>
      <label class="form-text">契約開始日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :start_day,
                    class:'select-birth',
                    id:"hire-date",
                    use_month_numbers: true,
                    start_year: (Time.now.year - 5),
                    end_year:(Time.now.year + 5),
                    default:@contract.start_day,
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    <div class='field'>
      <label class="form-text">契約終了日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :finish_day,
                    class:'select-birth',
                    id:"hire-date",
                    use_month_numbers: true,
                    start_year: (Time.now.year - 1),
                    end_year:(Time.now.year + 10),
                    default:@contract.finish_day,
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
      <div class = "field">
      <label class="form-text">契約状況</label>
      <span class="indispensable">必須</span>
    </div>
      <%= f.collection_radio_buttons(:status_id, Status.all, :id, :name, {checked: @contract.status_id}, {class:"radio-button", id:"search-company"}) %>
      <div class = "field">
      <label class="form-text">担当</label>
      <span class="indispensable">必須</span>
    </div>
    <div class = 'field'>
      <%= f.collection_select(:user_id, User.all, :id, :user_name, {selected: @contract.user_id}, class:"select-box", id:"search-user") %>
    </div>
      <%= f.submit "編集" ,name: "submit",class: "submit_button" %>
      <%= f.submit "更新" ,name: "submit",class: "submit_button" %>
    <% end %>
  </div>
</div>
</main>
<%= render "shared/footer" %>
