
<%= render "shared/header" %>
<main>
<div class="temporarys-search">
    <h2 class="temporarys-search-title">検索フォーム</h2>
    <%= form_with scope: :search ,url: search_temporarys_path, method: :get , local: true do |f| %>
    <div>
      <div class = "field">
        氏名
      </div>
      <%= f.text_field :full_name_reading, class:"text_box", id:"search-name", placeholder:"氏名・カナ"%>
      <div class = "field">
        社員番号
      </div>
      <%= f.text_field :temporary_number, class:"text_box", id:"search-number", placeholder:"社員番号"%>
      <div class = "field">
        契約情報
      </div>
      <%= f.collection_radio_buttons(:contract_status_id,ContractStatus.all, :id , :name , {},{class:"radio-button", id:"search-contract"})%>
      <div class = "field">
        取引先
      </div>
      <%= f.collection_select(:company_id, Company.all.order(:name), :id, :name, {include_blank: true }, {class:"select-box", id:"search-company"}) %>
      <div class = "field">
        分野
      </div>
      <%= f.collection_check_boxes(:genre_id, Genre.all, :id, :name, {include_hidden: false}, {class:"check-box", id:"search-genre"}) %>
      <div class="submit_button">
      <%= f.submit "検索する" ,class:"search-btn" %>
      </div>
    </div>
    <% end %>
</div>
<div class = "index_temporarys">
<table>
  <tr>
    <th class = "temporary_number">社員番号</th>
    <th class = "name">氏名</th>
    <th class = "age">年齢</th>
    <th class = "genre">分野</th>
    <th class = "address">居住地</th>
    <th class = "contract_status">契約情報</th>
    <th class = "company">配属先</th>
    <th class = "path_show">詳細画面</th>
  </tr>
  <%= render partial: 'temporary', collection: @temporarys %>
</table>
</div>
</main>
<%= render "shared/footer" %>